services:
  mongodb:
    image: mongo:7.0
    container_name: container_mongodb_test
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=database_mongodb
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: container_api_test
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

volumes:
  mongodb_data:

networks:
  app_network:
